<ion-header>
  <ion-toolbar>
    <ion-title>liste de {{user}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-button (click)="add()">ajouter</ion-button>

  <ion-list>
    <ion-checkbox color="warning"></ion-checkbox>
    <ion-input color="primary" class="box" placeholder="-- ajouter tâche ici"></ion-input>
    <ion-checkbox color="warning"></ion-checkbox>
    <ion-input color="primary" class="box" placeholder="-- ajouter tâche ici"></ion-input>
    <ion-checkbox color="warning"></ion-checkbox>
    <ion-input color="primary" class="box" placeholder="-- ajouter tâche ici"></ion-input>
    <ion-checkbox color="warning"></ion-checkbox>
    <ion-input color="primary" class="box" placeholder="-- ajouter tâche ici"></ion-input>
    <ion-checkbox color="warning"></ion-checkbox>
    <ion-input color="primary" class="box" placeholder="-- ajouter tâche ici"></ion-input>
    <ion-checkbox color="warning"></ion-checkbox>
    <ion-input color="primary" class="box" placeholder="-- ajouter tâche ici"></ion-input>
  </ion-list>

  <ion-button color="warning" (click)="home()"><ion-icon name="arrow-undo-circle-outline"></ion-icon> Back</ion-button>

</ion-content>
